{% extends 'layouts/default.html' %}

{% block contenido %}
<h1>Recordatorios </h1>

{% with mensajes = get_flashed_messages(with_categories = true) %}
    {% if mensajes %}
        {% for categoria, mensaje in mensajes %}
            <div class="alert alert-{{ categoria }} mb-3" role="alert">
                {{ mensaje }}
            </div>
        {% endfor%}
    {% endif %}
{% endwith %}

<form action="/crear-recordatorio" method="POST">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Escriba el recordatorio" 
            aria-label="Escriba el recordatorio" aria-describedby="boton-recordatorio" name="texto">
        <button class="btn btn-primary" type="submit" id="boton-recordatorio">Button</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tarea</th>
            <th>Creado el</th>
            <th>Importante</th>
            <th>Actualizar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        {% for recordatorio in recordatorioList %} 
            <tr>
                <td>{{ recordatorio.id }}</td>
                <td>{{ recordatorio.texto }}</td>
                <td>{{ recordatorio.CreatAt }}</td>
                <td>
                    <form action="actualizar_recordatorio" method="POST">
                        <button type="submit" class="btn btn-sm {{ 'btn-success' if recordatorio.Importante else 'btn-secondary' }}">
                            {{ "Marcar como no Importante" if recordatorio.Importante else "Marcar como Importante" }}
                        </button>
                    </form>
                </td>
                <td> 
                    <form action="" >
                        <button type="submit" class="btn btn-sm">Actualizar</button>
                    </form>
                </td>
                <td>
                    <form action="" >
                        <button type="submit" class="btn btn-sm">Borrar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
