{% extends 'layouts/default.html' %}

{% block contenido %}
<h1>Tareas</h1>

{% with mensajes = get_flashed_messages(with_categories = true) %}
    {% if mensajes %}
        {% for categoria, mensaje in mensajes %}
            <div class="alert alert-{{ categoria }} mb-3" role="alert">
                {{ mensaje }}
            </div>
        {% endfor%}
    {% endif %}
{% endwith %}

<form action="/crear-recordatorio" method="POST">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Escriba el recordatorio" aria-label="Escriba el recordatorio" aria-describedby="boton-tarea" name="texto">
        <button class="btn btn-primary" type="submit" id="boton-recordatorio">Button</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tarea</th>
            <th>Creado el</th>
            <th>Completada</th>
            <th>Impo?</th>
        </tr>
    </thead>
    <tbody>
        {% for recordatorio in recordatorios %}
            <tr>
                <td>{{ recordatorio.id }}</td>
                <td>{{ recordatorio.texto }}</td>
                <td>{{ recordatorio.CreatAt }}</td>
                <td> <button name="Importante" ></button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
